.btn-auth {
  width: 360px;
  height: 60px;
  background: #7E98DF;
  border-radius: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-top: 20px;
}

.btn-google {
  padding-left: 35px;
  width: 360px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #7E98DF;
  box-sizing: border-box;
  border-radius: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #7E98DF;
}