/* general for auth */
.bg-auth {
    background: #E5E5E5;
    height: 700px;
    padding: 40px 400px;
}

.text-title-auth {
    position: relative;
}

.text-title-auth i {
    position: absolute;
    top: 3px;
    font-size: 25px;
    color: #7E98DF;
    cursor: pointer;
}

.title-auth {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #7E98DF;
}

.sub-title-auth {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    margin-top: 20px;
}

.bg-auth label {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
    opacity: 0.75;
}

/* input */
.bg-auth input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #232323;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232323;
}

.bg-auth input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bg-auth input:-webkit-autofill,
.bg-auth input:-webkit-autofill:hover,
.bg-auth input:-webkit-autofill:focus,
.bg-auth input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* end input */
.error {
    color: #d41a1a;
    font-size: 10px;
}

.password-input {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 43px;
    right: 10px;
    color: #232323;
}

hr {
    border-top: 1px solid #848484;
    width: 100px;
}

.text-hr p {
    margin-top: 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #848484;
}

.google-btn {
    position: relative;
}

.google-btn i {
    position: absolute;
    top: 23px;
    left: 140px;
    color: #7E98DF
}

.text-account {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
}


.card-auth {
    position: relative;
    padding: 40px 40px;
    height: 100%;
    width: 500px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
}

@media only screen and (max-width: 600px) {
    .bg-auth {
        width: 500px;
        height: 710px;
        background: #fff;
        padding: 0;
    }

    .card-auth {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
    }
}

@media only screen and (min-width:600px) and (max-width: 768px) {
    .card-auth {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: 140px;
    }
}